<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WeatherNotes</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>NotesManagerServlet</servlet-name>
    <servlet-class>srv.pkg.NotesManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotesManagerServlet</servlet-name>
    <url-pattern>/NotesManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>srv.pkg.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>srv.pkg.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotesHistory</display-name>
    <servlet-name>NotesHistory</servlet-name>
    <servlet-class>srv.pkg.NotesHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotesHistory</servlet-name>
    <url-pattern>/NotesHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeatherNoteServlet</display-name>
    <servlet-name>WeatherNoteServlet</servlet-name>
    <servlet-class>srv.pkg.WeatherNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherNoteServlet</servlet-name>
    <url-pattern>/WeatherNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotesHistoryServlet</display-name>
    <servlet-name>NotesHistoryServlet</servlet-name>
    <servlet-class>srv.pkg.NotesHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotesHistoryServlet</servlet-name>
    <url-pattern>/NotesHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeatherNotesServlet</display-name>
    <servlet-name>WeatherNotesServlet</servlet-name>
    <servlet-class>srv.pkg.WeatherNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherNotesServlet</servlet-name>
    <url-pattern>/WeatherNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>srv.pkg.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>srv.pkg.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>